version: "3.8"

services:
  go2grow_website:
    image: go2grow_website:latest
    ports:
      - "5000"
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt

  nginx:
    image: nginx:latest
    container_name: nginx
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - /etc/letsencrypt:/etc/letsencrypt
    depends_on:
      - go2grow_website
    ports:
      - "80:80"
      - "443:443"
