html {
    background-color: lightgrey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    border: 5px;
    border-color: purple;
    border-style: solid;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: lightgrey;
}

.navbar a {
    display: inline-block;
    width: fit-content;
    padding-left: 6px;
    padding-top: 8px;
    padding-bottom: 16px;
    color: black;
    font-weight: bolder;
    font-size: 20px;
    text-decoration: none;
}

.navbar a:hover {
    color: white;
}

.navbar li {
    display: inline;
}

.logo {
    position: absolute;
    padding-top: 10px;
    right: 30px;
    padding-left: 10px;
}

.logo :hover {
    transition-property: rotate;
    rotate: 360deg;
    transition-duration: 7s;
}