{% extends "Base.html" %}
{% block Other_CSS_Links %}

    <link rel="stylesheet" href="/static/css/main.css"/>
    <link rel="stylesheet" href="/static/css/home.css"/>

{% endblock %}
<body>
    {% block body %}
    
    <div class="Welcome">
        <h2>Welcome to Go2Grow Consulting</h2>
        <p>Thank you for visiting Go2Grow Consulting!</p>
        <p>We offer both tutoring and counseling services for Grades 3 - 12 in the areas of 
            Math and Science. Both in person and virtual services are available. If you know 
            of anyone who could benefit from our services, please share our page with them. 
            We look forward to seeing everyone Go 2 Grow!!!</p>
        
              
    </div>

    <!-- <img src="/static/images/logo.png" width="1619.5" height="2070.25"> -->
    
    {% endblock %}
</body>